$flex: flex;
$flex-column: column;
$text-center: center;
$gradient-purple: #8e54e9;
$gradient-blue: #4976e6;
$white: #fff;
$fact-color: #283747;
$cyan-color: #61dbfb;
$padding: 10px;
$margin: 10px;
$font-weight: 100;
$font-size: 10px;
$letter-spacing: 1.25px;
$font-RobotoSlab: "Roboto Slab", serif;
$font-Poppins: "Poppins", sans-serif;
$font-Merry: "Merriweather", serif;
$font-Roboto: "Roboto", sans-serif;
$xl: 2000px;
$lg: 768px;
$md: 576px;
$sm: 400px;
